@import url(reset.css);
.warp,
body,
html {
  width: 100%;
  height: 100%;
  background: none;
}
.warp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.warp .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 1;
}
.warp .content header {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4rem;
  background: #f2f2f2;
  border-bottom: 1px solid #d9d9d9;
}
.warp .content header .more-link {
  display: inline-block;
  height: 4rem;
}
.warp .content header .more-link > img {
  width: auto;
  height: 1.7rem;
  background: none;
  padding: 1.1rem;
}
.warp .content header h2 {
  font-size: 1.6rem;
  margin-left: 7.5rem;
  line-height: 4rem;
}
.warp .content section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow-y: auto;
}
.warp .content section::-webkit-scrollbar {
  width: 0;
}
.warp .content section .main1 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 10rem;
  background: #ffffff;
  position: relative;
}
.warp .content section .main1 dl {
  margin-top: 1.5rem;
  margin-left: 1.8rem;
  text-align: center;
}
.warp .content section .main1 dl img {
  width: auto;
  height: 5.5rem;
  background: none;
}
.warp .content section .main1 dl dd {
  font-size: 1.3rem;
}
.warp .content section .main1 .shu {
  height: 5rem;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
}
.warp .content section .main1 ul {
  margin-top: 2.4rem;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}
.warp .content section .main1 ul li:nth-child(1) span {
  width: 4.5rem;
  height: 1.3rem;
  background: #ff4808;
  font-size: 1.2rem;
  color: white;
  margin-left: 0.7rem;
  border-radius: 3px;
}
.warp .content section .main1 ul li:nth-child(2) {
  margin-top: 1.6rem;
}
.warp .content section .main1 .you {
  position: absolute;
  right: 1.5rem;
  top: 4.5rem;
  width: auto;
  height: 1.8rem;
  background: none;
}
.warp .content section .main2 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
  margin-top: 1rem;
  line-height: 3.5rem;
}
.warp .content section .main2 h2 {
  margin-left: 13rem;
  font-size: 1.5rem;
  color: #ff7f1d;
}
.warp .content section .main2 h2 a {
  font-size: 1.1rem;
  color: #ff7f1d;
}
.warp .content section .main3 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 7.5rem;
  background: #ffffff;
  border-top: 1px solid #f2f2f2;
}
.warp .content section .main3 .main3_left {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 49%;
  height: 7.5rem;
  background: #ffffff;
  border-right: 1px solid #f2f2f2;
}
.warp .content section .main3 .main3_left dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.warp .content section .main3 .main3_left dl img {
  width: auto;
  height: 2.3rem;
  background: none;
  margin-top: 1rem;
}
.warp .content section .main3 .main3_left dl dd {
  margin-left: 1.3rem;
}
.warp .content section .main3 .main3_left dl dd h3 {
  font-size: 1.5rem;
}
.warp .content section .main3 .main3_left dl dd a {
  color: #808080;
  line-height: 3.2rem;
}
.warp .content section .main3 .main3_right {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 50%;
  height: 7.5rem;
  background: #ffffff;
}
.warp .content section .main3 .main3_right dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin-top: 1.5rem;
  margin-left: 1rem;
}
.warp .content section .main3 .main3_right dl img {
  width: auto;
  height: 2.3rem;
  background: none;
  margin-top: 1rem;
}
.warp .content section .main3 .main3_right dl dd {
  margin-left: 1.3rem;
}
.warp .content section .main3 .main3_right dl dd h3 {
  font-size: 1.5rem;
}
.warp .content section .main3 .main3_right dl dd a {
  color: #808080;
  line-height: 3.2rem;
}
.warp .content section .main4 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 3.4rem;
  background: #ffffff;
  margin-top: 0.5rem;
  border: 1px solid #f5f5f5;
}
.warp .content section .main4 dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
  margin-top: 0.9rem;
  margin-left: 1.1rem;
}
.warp .content section .main4 dl img {
  width: auto;
  height: 1.7rem;
  background: none;
}
.warp .content section .main4 dl dd {
  font-size: 1.5rem;
  margin-left: 0.8rem;
}
.warp .content section .main4 .main4_one {
  width: auto;
  height: 1.5rem;
  background: none;
  margin-top: 1rem;
  margin-right: 1rem;
}
.warp .content section .main21 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 6rem;
  background: #ffffff;
  border-bottom: 1px solid #bfbfbf;
}
.warp .content section .main21 .a img {
  width: 4rem;
  height: 4rem;
  background: none;
  padding: 1rem 1.1rem;
}
.warp .content section .main21 h1 {
  font-size: 1.4rem;
  margin-top: 1rem;
  -webkit-box-flex: 1;
}
.warp .content section .main21 h1 p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.warp .content section .main21 .c {
  color: #c5c5c5;
  line-height: 6rem;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}
.warp footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4.9rem;
  background: #ffffff;
  border-top: 1px solid #d9d9d9;
  text-align: center;
}
.warp footer dl {
  -webkit-box-flex: 1;
  margin-top: 0.3rem;
}
.warp footer dl img {
  width: auto;
  height: 2.3rem;
  background: none;
}
.warp footer dl dd {
  color: #808080;
}
.warp footer .jiahao img {
  width: auto;
  height: 4rem;
  background: none;
  margin-top: 0.1rem;
}
