@import url(reset.css);
html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: none;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  width: 100%;
  height: 3.6rem;
  background: #1a1a1a;
}
header .head_left {
  float: left;
  margin-top: 1rem;
}
header .head_left img {
  width: 5rem;
  height: auto;
  background: none;
  padding-left: 1rem;
}
header .head_right {
  float: right;
  margin-top: 1rem;
}
header .head_right img {
  width: 1.7rem;
  height: auto;
  background: none;
  margin-right: 1rem;
}
section {
  -webkit-box-flex: 1;
  background: #ebebeb;
  overflow: auto;
}
section::-webkit-scrollbar {
  width: 0;
}
section .search {
  width: 100%;
  height: 3.4rem;
  background: none;
  padding: 0.4rem 1rem 0;
  box-sizing: border-box;
}
section .search .search_type {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 2.4rem;
  background: #ffffff;
  border: 1px solid #aacaa5;
  border-radius: 1.5rem;
}
section .search .search_type > div {
  -webkit-box-flex: 1;
  background: white;
}
section .search .search_type > div ::-webkit-input-placeholder {
  color: #616161;
}
section .search .search_type > div input {
  display: block;
  border: none;
  width: 100%;
  height: 2.6rem;
  background: none;
  text-align: center;
}
section .search .search_type > span {
  display: block;
  width: 4.6rem;
  height: 100%;
  background: #0cc009;
  line-height: 2.4rem;
}
section .search .search_type > span img {
  width: 1.2rem;
  height: auto;
  background: none;
  margin-left: 1.5rem;
}
section nav {
  width: 100%;
  height: 3.5rem;
  background: #f5f5f5;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
section nav .nav {
  overflow: auto;
  -webkit-box-flex: 1;
  line-height: 3.5rem;
  padding-left: 0.8rem;
}
section nav .one {
  width: 4rem;
  height: 3.5rem;
  background: url(../img/images/a_03.png) no-repeat left center;
  background-size: auto 100%;
}
section nav .one img {
  width: 2rem;
  height: auto;
  background: none;
  display: block;
  margin: 0.5rem auto 0;
}
section .main {
  background: white;
}
section .main .swiper-container img {
  width: 100%;
  height: auto;
  background: none;
  padding: 0.7rem;
  box-sizing: border-box;
}
section .main_2 {
  width: 100%;
  height: 3.8rem;
  background: #ffffff;
  margin-top: 0.7rem;
}
section .main_2 .main_2_main {
  width: 100%;
  height: 8rem;
  background: none;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px dotted #ccc;
}
section .main_2 .main_2_main img {
  width: 1.7rem;
  height: 1.7rem;
  background: none;
  margin-top: 1rem;
  padding-left: 1rem;
}
section .main_2 .main_2_main h1 {
  font-size: 1.8rem;
  margin-top: 0.7rem;
  margin-left: 0.6rem;
}
section .main_3 {
  width: 100%;
  height: 6.2rem;
  background: #ffffff;
}
section .main_3 .main_3_main {
  width: 100%;
  height: 6.2rem;
  background: none;
  line-height: 3rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
section .main_3 .main_3_main img {
  width: 1rem;
  height: 1rem;
  background: none;
}
section .main_3 .main_3_main a {
  font-size: 1.4rem;
  margin-left: 0.7rem;
  color: #343434;
}
section .main_4 {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-sizing: border-box;
  padding-left: 0.5rem;
}
section .main_4 dl {
  -webkit-box-flex: 1;
  padding-right: 0.5rem;
}
section .main_4 dl dt img {
  width: 100%;
  height: auto;
  background: none;
}
section .main_4 dl dd span {
  color: #2e2e2e;
}
section .main_4 dl dd p {
  color: #9d9d9d;
}
footer {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 4rem;
  background: #f5f5f5;
  border-top: 1px solid #CCCCCC;
  color: #7f7f7f;
}
footer dl {
  text-align: center;
  -webkit-box-flex: 1;
  margin-top: 0.2rem;
}
footer dl img {
  width: 1.5rem;
  height: 1.5rem;
  background: none;
}
